body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: linear-gradient(0.25turn, hsl(198, 44%, 50%), #ebf8e1, #f69d3c);
}
h1{
    font-size: 80px;
}
.btn-1{
    height: 60px;
    width: 120px;
    border-radius: 20px;
    /* border: none; */
    color: #f69d3c ;
    font-weight: bolder;
}
.table{
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 45%;
    margin-top: 5%;
}
.row{
    border: 1px solid red;
    color: blue;
}
.content{
    float: left;
    border: 1px solid green;
    height: 300px;
    width: 300px;
}

